<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:lx="http://www.laixiao.net"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Spring Security Example</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="/css/common.css">
<script type="text/javascript">
	$(document).ready(
	});
</script>
</head>
<body>
	<form action="@{/next}">
		<h1>City一覧</h1>
		<table>
			<thead>
				<tr>
					<th>no</th>
					<th>id</th>
					<th>name</th>
					<th>state</th>
					<th>country</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="row,rowStat : ${cityList}">
					<td th:text="${rowStat.count}">1</td>
					<td th:text="${row.id}">1</td>
					<td th:text="${row.name}">tokyo</td>
					<td th:text="${row.state}">arakawa</td>
					<td th:text="${row.country}">JP</td>
				</tr>
			</tbody>
		</table>
	</form>
	<p>
		Click <a th:href="@{/hello}">here</a> to see a greeting.
	</p>
</body>
</html>